albumentations==1.1.0
hydra-core==1.1.2
hydra-colorlog==1.1.0
pytorch-lightning==1.6.5
torch-optimizer==0.3.0
opencv-python==4.8.0.76
wandb==0.12.16
timm==0.9.2
scikit-learn==1.1.2
transformers==4.28.1
torch-ema==0.3
segmentation-models-pytorch==0.3.3
# torch==1.11
